{
  "$schema": "https://swc.rs/schema.json",
  "jsc": {
    "baseUrl": ".",
    "parser": {
      "syntax": "typescript"
    },
    "target": "es2023"
  },
  "module": {
    "type": "es6",
    "resolveFully": true,
    "outFileExtension": "js"
  },
  "sourceMaps": true,
  "exclude": ["\\.(stories|test)\\."]
}
